.button{
    background-color: var(--blue);
    padding: 9px 29px;
    display: flex;
    align-items: center;
    gap:8px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}

.text{
    font-size: 16px;
    font-weight: 400;
    color: white;
}