.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.step{
    font-size: 14px;
    font-weight: 700;
    color: #A0A9B8;
}

.buttonBox{
    display: flex;
    gap: 8px;
}