.radioGroup {
  display: flex;
  gap: 24px;
}

/* Обертка для кастомной радиокнопки и текста */
.radioLabel {
  position: relative;
  padding-left: 24px;
  /* Отступ для кастомной кнопки слева */
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  /* Запрет на выделение текста */
}

/* Скрытие стандартного input[type=radio] */
.radioLabel input[type="radio"] {
  display: none;
}

.radioCustom {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: var(--disabled);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.radioCustom::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Наведение на НЕвыбранную кнопку — делает ее голубой */
.radioLabel:hover input:not(:checked)~.radioCustom {
  background-color: var(--blue);
  /* Голубой при наведении */
}

/* Выбранная кнопка — фон голубой */
.radioLabel input:checked~.radioCustom {
  background-color: var(--blue);
}

/* Внутренний белый кружок отображается только у выбранной */
.radioLabel input:checked~.radioCustom::after {
  display: block;
}

/* Затемнение выбранной при наведении */
.radioLabel:hover input:checked~.radioCustom {
  background-color: var(--blue-hover);
  /* Темно-голубой */
}

.question{
  font-size: 16px;
  font-weight: 400;

  margin-bottom: 8px;
}

.answer{
  font-size: 12px;
  font-weight: 400;
}