.dateInput {
    border: 1px solid #A0A9B8;
    color: #A0A9B8;
    outline: none;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 6px;

    width: 96px;
    text-align: center;
    cursor: pointer;
    caret-color: transparent;
}

.dateInput:hover, 
.dateInput:focus {
    border: 1px solid var(--purple);
    color: var(--black);
}

.customHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.navButton:disabled {
    opacity: 0.3;
    cursor: default;
}

.month {
    font-weight: 700;
    font-size: 18px;
}

.year {
    color: #69758E;
    font-size: 16px;
}

:global(.react-datepicker__day--outside-month) {
    visibility: hidden;
}

:global(.react-datepicker__day) {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 6px;
    margin: 0;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
    background-color: var(--purple);
    color: white;
    border-radius: 6px;
}

:global(.react-datepicker__day--selected:hover),
:global(.react-datepicker__day--keyboard-selected:hover) {
    background-color: var(--purple) !important;
    color: white !important;
}

:global(.react-datepicker__day-name) {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    color: #A0A9B8;
    font-size: 12px;
    margin: 0;
}

:global(.react-datepicker__triangle) {
    display: none;
}

:global(.react-datepicker) {
    border: none;
    box-shadow:
        0 8px 16px rgba(68, 83, 113, 0.05),
        0 4px 8px rgba(68, 83, 113, 0.04),
        0 0 8px rgba(68, 83, 113, 0.03);
}

:global(.react-datepicker__header),
:global(.react-datepicker__day-names) {
    background: transparent;
    border-bottom: none;
    padding: 0;
}