.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 9px 44px;

    background-color: var(--lightBlue);
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
}

.button:hover{
    background-color: var(--lightBlue-hover);
}

.text {
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 640px) {
    .button{
        padding: 9px 51.5px;
    }
}