:root {
  --mobile-width: 296px;
  --tablet-width: 600px;
  --laptop-width: 904px;

  --blue: #45A5F6;
  --blue-hover: #007EE5;
  --lightBlue: #DAEDFD;
  --lightBlue-hover: #B5DBFB;
  --disabled: #D0D4DC;
  --purple: #8A6BF4;

  --black: (#293244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'CustomFont', sans-serif;
  color: var(--black);
}

body {
  background-color: #F6F6F8;
}

.container {
  margin: 0 auto;
  width: var(--laptop-width);
  position: relative;
}

.contentContainer {
  margin: 0 auto;
  width: 776px;
  padding: 48px 0 32px 0;
}

.page {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}