:root {
  --mobile-width: 296px;
  --mobile--content-width: 264px;

  --tablet-width: 600px;
  --tablet-content-width: 552px;

  --laptop-width: 904px;
  --laptop-content-width: 776px;

  --blue: #45A5F6;
  --blue-hover: #007EE5;
  --lightBlue: #DAEDFD;
  --lightBlue-hover: #B5DBFB;
  --disabled: #D0D4DC;
  --purple: #8A6BF4;

  --black: #293244;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'CustomFont', sans-serif;
  color: var(--black);
}

body {
  background-color: #F6F6F8;
}

.container {
  margin: 0 auto;
  width: var(--laptop-width);
  position: relative;
}

.contentContainer {
  margin: 0 auto;
  width: var(--laptop-content-width);
  padding: 48px 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.page {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}

/* Медиазапросы */

@media (max-width: 1200px) and (min-width: 640px) {
  .container {
    width: var(--tablet-width);
  }

  .contentContainer {
    width: var(--tablet-content-width);
    gap: 48px;
  }
}

@media (max-width: 640px) {
  .container {
    width: var(--mobile-width);
  }

  .contentContainer {
    width: var(--mobile--content-width);
    gap: 32px;
  }
}

